.appBar {
    position: fixed;
    background: #ffffff;
    width: 100%;
    z-index: 10000;
    box-shadow: 1px 1px 5px #42424283;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.boxLogoAndCart {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    border-radius: 30rem;
    background-color: rgba(255, 157, 35, 0.1);
    width: 100%;
}

.searchIconWrapper {
    padding: 0 16px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff9d23;
}

.inputSeacrch {
    color: black;
    width: 100%;
}

.inputSeacrch :global(.MuiInputBase-input) {
    padding: 8px 8px 8px 0;
    padding-left: 48px;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItem {
    list-style: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #ff9d23;
}

.navLink.active {
    color: #ff9d23;
}


.cartWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.cartIcon {
    color: #ff9d23;
    margin-left: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cartIcon:hover {
    transform: scale(1.15) rotate(-5deg);
}

.cartCount {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ff9d23;
    color: #fff;
    font-size: 10px;
}



.headerToolbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
    .headerToolbar {
        gap: 10px;
    }

    .navList {
        gap: 10px;
    }

    .search {
        max-width: 180px;
    }

    .cartIcon {
        margin-left: 1rem;
    }
}

@media (max-width: 600px) {
    .navList {
        display: none;
    }

    .search {
        max-width: 200px;
    }
}